# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment files
.env
.env.*

# Logs and local runtime
*.log

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# others
/static/
/staticfiles/